@import "theme.css";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap');

.big_body {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  background-color: var(--backGround_1);


  .announce_top{
    width: 100%;
    height: 100px;
    background-color: var(--brand1_2);
  }

  .announce_body {
    width: 840px;
    display: grid;
    height: 100%;

    .announce_top_content{
      display: flex;
      width: 100%;
      height: 100px;
      margin-top: -45px;

      .announce_title{
        display: grid;
        justify-items: center;
        align-items: center;
        width: 500px;
        height: 90px;
        font-weight: bold;
        font-size: 24px;
        background-color: var(--backGround_1);
        border: none;
        border-radius: 45px;
      }

      .announce_back{
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: right;

        .announce_back_button{
          display: grid;
          justify-items: center;
          align-items: center;

          width: 40px;
          height: 40px;
          border-radius: 100%;
          background-color: var(--backGround_1);

          .announce_back_button_img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    .announce_list {
      width: 100%;

      .announce_nothing {
        display: grid;
        align-content: center;
        align-items: center;
        text-align: center;

        height: 520px;
        width: 100%;
        margin: 20px 0;
        background: var(--transpar);
        color: var(--font_gray_main);
        -webkit-background-clip: text;
        font-size: clamp(0.5vw, 1vw, 2vw);
        font-weight: 700;
      }

      .announce_pagenation {
        display: grid;
        justify-items: center;
        align-items: center;

        width: 100%;

        .announce_list_items{
          display: grid;
          justify-items: center;
          align-items: center;
          width: 100%;
          grid-template-columns: 80% 1% 19%;
          height: 70px;

          .announce_list_item{
            width: 100%;
            height: 50px;
            background-color: var(--brand3_main);
            border-radius: 10px;
            margin: 5px;
            padding: 0px 0px 0px 10px;

            color: var(--white);
            font-size: 14px;
            font-weight: bold;
          }

          .announce_list_alarm{
            width: 21px;
            height: 21px;
            border-radius: 100%;
            margin: 0px 1% 0px 0px;
            background-color: var(--point1_main);
          }
        }

        .announce_pagenation_buttons{
          width: 50%;
          display: flex;
          color: var(--white);
          align-content: center;
          justify-content: center;
          margin: 10px;

          .announce_pagenation_button{
            width: 25px;
            height: 25px;
            border : none;
            color: var(--white);
            border-radius: 100%;
            background-color: var(--brand3_3);
            margin: 10px;
          }

          .selected_announce_pagenation_button{
            width: 25px;
            height: 25px;
            border : none;
            color: var(--white);
            border-radius: 100%;
            background-color: var(--brand3_main);
            margin: 10px;
          }
        }
      }
    }
  }
}