@import "theme.css";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap');

.find_pw_body {
  height: 100%;
  width: 100%;
  position: relative;
  .find_pw_back {
    width: 100%;
  }
}
.find_pw_forms_body {
  font-family: "Inconsolata", sans-serif;
  position: absolute;
  width: 40vw;
  height: 70%;
  top: 15%;
  left: 12%;
  background: var(--white);
  filter: drop-shadow(1px 2px 2px rgb(0, 0, 0, 0.15));
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  .pwforms_body_color {
    width: 38vw;
    height: 80%;
    background: var(--brand3_5);
    margin-top: 6%;

    & > h2 {
      color: var(--white);
      font-size: 3.5vw;
      margin: 2% 0 0 5%;
      font-weight: 600;
      font-family: "IBM Plex Sans KR", sans-serif;
    }
    & > form {
      margin: 5% 0 0 5%;
      height: 70%;
      display: grid;
      align-items: center;
      grid-template-columns: 75% 20%;
      justify-content: center;
      
      .pw_formset {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-rows: 50% 50%;
      }

      & > button {
        border: none;
        background-color: var(--white);
        border-radius: 4rem;
        color: var(--font_gray_main);
        font-family: "IBM Plex Sans KR", sans-serif;

        font-weight: 500;
        font-size: 1.25vw;
        height: 7vw;
        width: 7vw;
        cursor: pointer;
        transition: background-color 0.3s;
        
        
        &:hover{
          background-color: var(--brand3_3);
        }

      }
    }


  }
}
.pwforms_emailpart {
  // margin-top: 2%;
  display: grid;
  grid-template-rows: 20% 65%;
  height: 100%;

  align-items: center;
  align-content: center;
  //margin: 0 0 0 10%;
  & > label {
    font-family: "Inconsolata", sans-serif;
    margin: 2% 0 0 0;
    font-weight: 700;
    font-size: 1.75vw;
    color: var(--white);
  }
  & > input {
    font-family: "IBM Plex Sans KR", sans-serif;
    border: none;
    border-radius: 4rem;
    padding-left: 10%;
    font-weight: 500;
    height: 50%;
    width: 80%;
  
    
  }
  & > input:active {
    outline: solid 3px var(--point1_main);
  }
  & > input:focus {
    outline: solid 3px var(--point1_main);
  }
  .nickname_part{
    display: grid;
    grid-template-rows: 40% 60%;
    align-items: center;
    margin: 0 0 0 10%;
    & > p {
      margin: 2% 0 0 0;
      font-weight: 600;
      font-size: 1.5vw;
      color: var(--white);
    }
    & > input {
      font-family: "IBM Plex Sans KR", sans-serif;
      border: none;
      border-radius: 4rem;
      padding-left: 10%;
      font-weight: 500;
      height: 80%;
      width: 88%;
    }
    & > input:active {
      outline: solid 3px var(--point1_main);
    }
    & > input:focus {
      outline: solid 3px var(--point1_main);
    }
  }
}

.back_button {
  cursor: pointer;
  position: absolute;
  top: 14%;
  left: 40vw;
  z-index: -1;
  width: 4vw;
  height: 4vw;
  border: none;
  border-radius: 0 4rem 4rem 0;
  background-color: var(--brand2_main);
  transition: background-color 0.3s;
  display: grid;
  align-items: center;
  & > img {
    width: 2vw;
  }
  &:hover {
    background-color: var(--brand2_3);
  }
}