@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap');
@import "theme.css";

.home_body {
  cursor: pointer;
  height: 100%;
  width: 100%;
  position: relative;
  .homepage{
    //position: fixed;
    //height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -3;
    margin: 0;
    //background-image: url("../assets/images/home/home_background.svg");
    //background-size: auto;
    //background-repeat: no-repeat;
  }
  .home_text_baseline {
    width: 100%;
    height: 0.5px;
    background-color: var(--brand3_main);
    margin: 0;
  }
  .home_text {
    margin: 0;
    position: absolute;
    top: 37%;
    left: 26%;
    height: 4vh;
    width: 30vw;
    font-family: "IBM Plex Sans KR";
    font-weight: 500;
    font-size: clamp(2vw , 2.4vw, 4vw);
    color: var(--font_gray_main);
    z-index: 3;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;

    &> div > p {
      margin: 0;
      margin-left: 1vw;
    }
    &> div > div > p {
      margin: 0;
      margin-left: 1vw;
    }
    .home_text_highlight {
      display: grid;
      grid-template-columns: 50% 30%;
      align-items: center;

      .highlight_txt {
        background: var(--gradient_main_H);
        color: transparent;
        -webkit-background-clip: text;
        font-size: clamp(2vw , 3vw, 4vw);
        font-weight: 700;

      }
    }
  }
  .clickanyehere{
    position: absolute;
    top: 64%;
    left: 30%;
    font-family: Inconsolata;
    font-weight: 600;
    color: var(--brand3_main);
    text-align: center;
    font-size: clamp(1vw , 1.5vw, 1.5vw);
    margin: 0;
    letter-spacing: 0.7vw;
    -webkit-animation: blink 0.7s ease-in-out infinite alternate;
    -moz-animation: blink 0.7s ease-in-out infinite alternate;
    animation: blink 0.7s ease-in-out infinite alternate;
    @-webkit-keyframes blink{
      0% {opacity: 0;}
      100% {opacity: 1;}
    }
    @-moz-keyframes blink{
      0% {opacity: 0;}
      100% {opacity: 1;}
    }

    @keyframes blink{
      0% {opacity: 0;}
      100% {opacity: 1;}
    }
  }
}
