@import "theme.css";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap');

.big_body {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  background-color: var(--backGround_1);
}

.detail_project_layout {
  width: 840px;
  display: grid;

  grid-template-columns: 1fr;
  justify-items: center;
  background-color: var(--backGround_0);
  filter: drop-shadow(0px 2px 2px rgb(0, 0, 0, 0.25));

  .detail_project_top {
    width: 100%;
    height: 100px;
    background-color: var(--brand1_2);
  }

  .detail_project_top_content{
    display: flex;
    width: 100%;
    height: 100px;
    margin-top: -45px;

    .detail_project_title{
      display: grid;
      position: relative;
      justify-items: center;
      align-items: center;
      width: 500px;
      height: 90px;
      font-weight: bold;
      font-size: 0.75em;
      background-color: var(--backGround_0);
      border: none;
      border-radius: 45px;

      & h1{
        font-family: "IBM Plex Sans KR", sans-serif;
      }

      .detail_project_title_tag{
        position: absolute;
        display: grid;
        left: 95%;
        top: 25%;
        height: 50px;
      }

      .detail_project_title_heart{
        filter: drop-shadow(1px 2px 2px rgb(0,0,0,0.15));
        position: absolute;
        display: grid;
        background-color: var(--backGround_main);
        left: 90%;
        height: 45px;
        border-radius: 100%;
      }
    }
  }
}

.detail_project_back{
  filter: drop-shadow(1px 2px 2px rgb(0,0,0,0.15));
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: right;

  .detail_project_back_button{
    display: grid;
    justify-items: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;

    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--backGround_0);

    &:hover {
      background-color: var(--backGround_1);
    }

    .detail_project_back_button_img {
      width: 20px;
      height: 20px;
    }
  }
}
.detail_project_project_delete {
  display: grid;
  position: relative;
  top: 30%;
  right:150%;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--backGround_0);
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));

  &:hover {
    background-color: var(--backGround_2);
  }

}

.detail_project_project_delete_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--transpar);
  cursor: pointer;
  border: none;
  width: 30px;
  height: 30px;
  .detail_project_project_delete_btn_img {
    margin-left: 2px;
    width: 25px;
    height: 25px;
  }
}


.detail_project_order{
  width: 100%;
  display: grid;
  grid-template-columns: 95% 5%;
  justify-items: center;
}

.detail_project_info_logs {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 700;
  width:80%;
  background-color: var(--backGround_0);
  border-radius: 1rem;
  filter: drop-shadow(0px 2px 2px rgb(0, 0, 0, 0.15));
  align-items: center;
  justify-items: center;
  display: grid;
  font-size: 14px;
  grid-template-columns: 40% 20% 40%;

  .detail_project_shorts_info_percentage{
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    border: solid var(--backGround_2);
    border-width: 0 0.5px;
    position: relative;

    .detail_project_shorts_info_percentage_text{
      height: 100%;
      display: grid;
      justify-items: center;
      align-items: center;
      font-size: 14px;
      color: var(--brand2_main);
    }

    .detail_project_shorts_info_percentage_graph{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.detail_project_shorts_info_period{
  text-align: center;
}

.detail_project_info_log{
  width: 80%;
  display: grid;
  grid-template-columns: 70% 20% 10%;
  justify-items: end;
  align-items: center;
  margin: 20px;
  .detail_project_info_log_start{
    width: 100%;
    text-align: center;
  }
  .detail_project_info_log_highlight{
    font-size: 24px;
    text-align: right;
    color: var(--brand2_main);
  }
  .detail_project_info_log_end{

  }
}

.detail_project_users_layout {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 700;
  width:80%;
  height: 60px;
  background-color: var(--backGround_0);
  border-radius: 2rem;
  filter: drop-shadow(0px 2px 2px rgb(0, 0, 0, 0.15));
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  display: grid;

  grid-template-columns: 50% 50%;

  margin: 20px;
}

.detail_project_content_userImgs{
  width: 100%;
  height: 100%;
  margin-left: 40px;
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative; /* 추가 */

  .detail_project_content_userImg{
    border: solid 3px var(--brand3_main);
    border-radius: 100%;
    background-color: var(--white);
    height: 40px;
    width: 40px;
    object-fit: fill;
    position: absolute; /* 추가 */
  }

  .detail_project_content_userImg:nth-child(2) {
    left: 30px;
  }
  .detail_project_content_userImg:nth-child(3) {
    left: 60px;
  }
  .detail_project_content_userImg:nth-child(4) {
    left: 90px;
  }
  .detail_project_content_userImg:nth-child(5) {
    left: 120px;
  }
  .detail_project_content_userImg:nth-child(6) {
    left: 150px;
  }
}

.detail_project_content_usercnt{
  width: 90%;
  text-align: right;
  color: var(--brand3_main);
}

.detail_project_history{
  width: 90%;
}

.detail_project_history_title{
  font-family: "IBM Plex Sans KR", sans-serif;
  display: flex;
  align-items: center;

  .detail_project_history_subtitle{
    margin-left: 10px;
    color: var(--brand3_main);
  }
}

.detail_project_history_format{
  width: 100%;
  height: 540px;
  margin-bottom: 20px;
  justify-content: center;

  overflow-y: scroll;

  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  text-overflow: ellipsis;
  word-break: break-all;
  table-layout:fixed;

  &::-webkit-scrollbar {
    width: 9px;  /* 스크롤바의 너비 */
  }

  &::-webkit-scrollbar-thumb {
    height: auto; /* 스크롤바의 길이 */
    width: 7px;
    background: var(--brand3_3); /* 스크롤바의 색상 */

    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: var(--backGround_2);  /*스크롤바 뒷 배경 색상*/
    border-radius: 10px;
  }
}


.detail_project_history_date{
  color: var(--brand3_4);
}

.detail_project_history_article{
  height: 250px;
  width: 90%;
  background-color: var(--backGround_1);
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  margin-bottom: 50px;

  display: grid;
  grid-template-columns: 5% 50% 5% 40%;

  align-items: center;
  .detail_project_history_article_beforeafter_btn{
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    .detail_project_history_article_beforeafter_img{
      width: 25px;
    }

    &:hover{
      background-color: var(--backGround_2);
    }
  }
}

.detail_project_history_article_imgbox{
  width: 100%;
  display: flex;
  justify-content: center;
  .detail_project_history_article_img{
    width: 100%;
    height: 100%;
    max-height: 250px;
    max-width: 335px;
    object-fit: contain;
  }
}

.detail_project_history_article_body{
  height: 100%;
  display: flex;
  background-color: var(--backGround_0);
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 0px 10px 10px 0px;
  .detail_project_history_article_stamp{
    width: 60px;
    padding-top: 20px;
  }
}

.detail_project_history_article_text_form{
  position: relative;
  width: 70%;

  .detail_project_history_article_text{
    font-family: "IBM Plex Sans KR", sans-serif;
    font-size: 14px;
    position: absolute;
    width: 100%;
    top: 5px;
    font-weight: 500;
  }

  .detail_project_history_article_text_underline{
    position: absolute;
    width: 100%;
    top: 37px;
    border-bottom: solid 2px var(--brand1_3);
  }

  .detail_project_history_article_text_underline:nth-child(2) {
    top: 58px;
  }
  .detail_project_history_article_text_underline:nth-child(3) {
    top: 79px;
  }
  .detail_project_history_article_text_underline:nth-child(4) {
    top: 100px;
  }
  .detail_project_history_article_text_underline:nth-child(5) {
    top: 121px;
  }
  .detail_project_history_article_text_underline:nth-child(6) {
    top: 142px;
  }
}

.detail_project_write{
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: var(--brand3_main);
  left: 85%;
  top: 90%;
  margin: 20px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));

  &:hover{
    background-color: var(--brand3_4);
  }

  .detail_project_write_btn{
    display: grid;
    justify-items: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: var(--white);
    background-color: var(--transpar);
    border: none;
    .detail_project_write_btn_img{
      width: 30px;
    }
  }
}

