@import "theme.css";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap');

.big_body {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  background-color: var(--backGround_1);

  .content_body {
    filter: drop-shadow(1px 2px 2px rgb(0, 0, 0, 0.15));
    .review_top{
      width: 100%;
      height: 100px;
      background-color: var(--brand1_2);
    }

    .review_body {
      width: 840px;
      display: grid;

      .review_top_content{
        display: flex;
        width: 100%;
        height: 100px;
        margin-top: -45px;

        .review_title{
          display: grid;
          justify-items: center;
          align-items: center;
          width: 500px;
          height: 90px;
          font-weight: bold;
          font-size: 24px;
          background-color: var(--backGround_0);
          border: none;
          border-radius: 45px;
        }

        .review_back{
          filter: drop-shadow(1px 2px 2px rgb(0,0,0,0.15));
          width: 100%;
          height: 100px;
          display: flex;
          flex-direction: row;
          justify-content: right;

          .review_back_button{
            display: grid;
            justify-items: center;
            align-items: center;
            margin-right: 10px;

            width: 40px;
            height: 40px;
            border-radius: 100%;
            background-color: var(--backGround_0);

            &:hover {
              background-color: var(--backGround_1);
            }

            .review_back_button_img {
              width: 20px;
              height: 20px;


            }
          }
        }
      }

      .review_list {
        width: 740px;
        min-height: 450px;
        filter: drop-shadow(1px 2px 2px rgb(0,0,0,0.15));
        justify-items: center;
        margin : 0px auto;

        .review_nothing {
          display: grid;
          align-content: center;
          align-items: center;
          text-align: center;

          height: 520px;
          width: 100%;
          margin: 20px 0;
          background: var(--transpar);
          color: var(--brand3_main);
          -webkit-background-clip: text;
          font-size: clamp(1.5rem, 2.5vw, 2rem);
          font-weight: 700;
        }

        .review_pagenation {
          display: grid;
          justify-items: center;
          align-items: center;

          width: 100%;

          .review_list_items{
            display: grid;
            justify-items: center;
            align-items: center;
            width: 100%;
            grid-template-columns: 80% 1% 19%;
            height: 70px;

            .review_list_item{
              font-family: "IBM Plex Sans KR", sans-serif;
              color: var(--font_burgundy_100);
              font-size: 14px;
              font-weight: bold;

              width: 100%;
              height: 50px;
              background-color: var(--brand3_1);
              border: solid 2px var(--brand3_main);
              border-radius: 10px;
              margin: 5px;
              padding: 0px 0px 0px 10px;
            }

            .review_list_alarm{
              width: 21px;
              height: 21px;
              border-radius: 100%;
              margin: 0px 1% 0px 0px;
              background-color: var(--point1_main);
            }
          }

          .review_pagenation_buttons{
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--white);
            margin: 10px;

            .review_pagenation_button{
              width: 25px;
              height: 25px;
              border : none;
              color: var(--white);
              border-radius: 100%;
              background-color: var(--brand3_3);
              margin: 10px;
            }

            .selected_review_pagenation_button{
              width: 30px;
              height: 30px;
              border : none;
              color: var(--white);
              border-radius: 100%;
              background-color: var(--brand3_main);
              margin: 10px;
            }
          }
        }
      }
    }
    .create_post{
      width: 100%;
      display: flex;
      justify-content: center;
      .create_post_button{
        filter: drop-shadow(1px 2px 2px rgb(0,0,0,0.15));
        width : 150px;
        background-color: var(--point1_main);
        color: var(--white);
        font-weight: bold;
        font-size: 16px;
        margin: 10px auto;
        padding: 5px;
        border: none;
        border-radius: 16px;

        &:hover{
          background-color: var(--point1_4);
        }
      }
    }
  }
}
.review_list_nickname{
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin: 0;
}
.review_list_heart{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: right;
  align-items: center;

  .reviewHit{
    width: 30px;
    height: 30px;
    display: grid;
    justify-content: center;
    align-content: center;
    border-radius: 100%;
    border : none;

    img {
      width: 40px;
      height: 40px;
    }
  }

  .heartCnt{
    font-family: "IBM Plex Sans KR", sans-serif;
    margin-right: 10px;
    font-weight: 500;
    font-size: 20px;
  }

  .heartButton{
    width: 40px;
    height: 40px;
    display: grid;
    justify-content: center;
    align-content: center;
    border-radius: 100%;
    border : none;

    img {
      width: 45px;
      height: 45px;
    }
  }

  .liked {
    background-color: var(--brand1_main);
  }

  .unliked {
    background-color: var(--brand1_3);
  }
}

.review_modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 800px;
  height: 700px;
  background-color: var(--backGround_main);
  display: grid;

  justify-content: center;
  justify-items: center;
  align-content: center;

  border-radius: 1rem;
  border: solid 3px var(--brand3_3);

  backdrop-filter: blur(10px);
  //margin-left: 15%;

  outline-color: var(--point1_main);
}


.modal_contents_box{
  width: 700px;
  height: 650px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 400px 50px;
  align-items: center;

  .modal_inner_title_input{
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 600;
    width: 100%;
    color: var(--font_gray_main);
    font-size: 20pt;
    background-color: var(--transpar);
    outline: none;

    border: 3px solid var(--brand3_main);
    border-radius: 12px;
  }


  .modal_inner_contents {
    font-family: "IBM Plex Sans KR", sans-serif;
    height: 380px;
    text-align: left;
    font-weight: 500;
    font-size: 15pt;
    color: var(--font_gray_main);
    overflow-y: scroll;
    white-space:pre-line;

    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    text-overflow: ellipsis;
    word-break: break-all;
    table-layout:fixed;

    &::-webkit-scrollbar {
      width: 9px;  /* 스크롤바의 너비 */
    }

    &::-webkit-scrollbar-thumb {
      height: auto; /* 스크롤바의 길이 */
      width: 7px;
      background: var(--brand3_3); /* 스크롤바의 색상 */

      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background: var(--backGround_2);  /*스크롤바 뒷 배경 색상*/
      border-radius: 10px;
    }
  }

  .modal_inner_contents_input{
    width: 100%;
    height: 380px;
    background-color: var(--transpar);
    outline: none;

    border: 2px solid var(--brand3_main);
    border-radius: 5px;

    text-align: left;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 500;
    font-size: 15pt;
    color: var(--font_gray_main);

    overflow-y: scroll;

    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    text-overflow: ellipsis;
    word-break: break-all;
    table-layout:fixed;

    &::-webkit-scrollbar {
      width: 9px;  /* 스크롤바의 너비 */
    }

    &::-webkit-scrollbar-thumb {
      height: auto; /* 스크롤바의 길이 */
      width: 7px;
      background: var(--brand3_3); /* 스크롤바의 색상 */

      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background: var(--backGround_2);  /*스크롤바 뒷 배경 색상*/
      border-radius: 10px;
    }

  }

  .buttonList{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    button{
      width: 20%;
      height: 40px;
      text-align: center;
      color: var(--white);
      background-color: var(--brand3_main);
      font-family: "IBM Plex Sans KR", sans-serif;
      font-weight: 700;
      font-size: 15pt;
      cursor: pointer;
      border: none;
      border-radius: 3rem;
    }
    .text_styled_red{
      color: var(--brand3_main);
    }
  }
}
.modal_inner_title {
  text-align: center;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 700;
  font-size: 22pt;
  color: var(--font_gray_main);

  & > hr {
    stroke: var(--brand3_main);
    color: var(--brand3_main);
    background-color: var(--brand3_main);
  }
}