:root {
    /*black & white*/
    --black: #000000FF;
    --white: #FFFFFFFF;
    --transpar : #FFFFFF00;

    /*backGround*/
    --backGround_0: #FCFAF7FF;
    --backGround_1: #F8F4F0FF;
    --backGround_2: #E7E1DBFF;
    --backGround_3: #AAA7A4FF;
    --backGround_main: #FCF9F6FF;

    /*brand1*/
    --brand1_1: #FFEFEEFF;
    --brand1_2: #FFDFDEFF;
    --brand1_3: #FFCFCEFF;
    --brand1_4: #FFBFBEFF;
    --brand1_5: #FFAFAEFF;
    --brand1_main: #FF9F9FFF;

    /*brand2*/
    --brand2_1: #FFE6EEFF;
    --brand2_2: #FFCCDEFF;
    --brand2_3: #FFB2CEFF;
    --brand2_4: #FF97BEFF;
    --brand2_5: #FF7AAEFF;
    --brand2_main: #FF599FFF;

    /*brand3*/
    --brand3_1: #FFECEFFF;
    --brand3_2: #FFDADFFF;
    --brand3_3: #FFC7CFFF;
    --brand3_4: #FFB4BFFF;
    --brand3_5: #FFA0B0FF;
    --brand3_main: #FF8CA1FF;

    /*brand4*/
    --brand4_1: #FAE3E5FF;
    --brand4_2: #F3C7CBFF;
    --brand4_3: #ECABB1FF;
    --brand4_4: #E28F99FF;
    --brand4_5: #D87381FF;
    --brand4_main: #CC556AFF;

    /*font(burgundy)*/
    --font_burgundy_100: #CC556AFF;
    --font_burgundy_20: #CC556AFF;
    --font_burgundy_30: #CC556AFF;
    --font_burgundy_40: #CC556AFF;
    --font_burgundy_50: #CC556AFF;
    --font_burgundy_60: #CC556AFF;
    --font_burgundy_70: #CC556AFF;
    --font_burgundy_80: #CC556AFF;
    --font_burgundy_90: #CC556AFF;

    /*font(gray)*/
    --font_gray_20: #454545FF;
    --font_gray_30: #454545FF;
    --font_gray_40: #454545FF;
    --font_gray_50: #454545FF;
    --font_gray_60: #454545FF;
    --font_gray_70: #454545FF;
    --font_gray_80: #454545FF;
    --font_gray_90: #454545FF;
    --font_gray_main: #454545FF;

    /*point1*/
    --point1_1: #ECE3FAFF;
    --point1_2: #D8C7F6FF;
    --point1_3: #C3ABF0FF;
    --point1_4: #AD90EBFF;
    --point1_5: #9675E5FF;
    --point1_main: #7D5BDFFF;
    /*brand gradient*/
    --gradient_main_V: linear-gradient(rgba(255,159,159,1) 0%, rgba(255,89,159,1) 100%);
    --gradient_main_H: linear-gradient(90deg, rgba(255,159,159,1) 0%, rgba(255,89,159,1) 100%);
    --main_2: linear-gradient(360deg, #FF9E9E 0%, #FF5A9E 100%);

    /*etc.*/
    --main: #FF599FFF;
    --main_3: #FFDEDEFF;
    --main_color: #FF7474FF;
    --blue_main: #599CFFFF;
    --fontcolor: #CC556AFF;
    --line: #E04B66FF;
    --main3: #FF8CA1FF;
}